<%- include('./partials/head') %>

  <link rel="stylesheet" href="/css/home.css">
  </head>
  
  <body>
    <%- include('./partials/header') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <a href="/products">Listado de Productos</a>
    </div>
  </body>
</html>
