<%- include('./partials/head') %>

  <link rel="stylesheet" href="/css/home.css">
  </head>
  
  <body>
    <%- include('./partials/header') %>
    <main>
      <section class="main-full container">
        <h1>Hola</h1>
        <h3>Bienvenidos</h3>
      </section>

      <section class="best-seller">
        <h4>Mas vendidos</h4>
        <div>
          <div>Uno</div>
          <div>Dos</div>
          <div>Tres</div>
        </div>
      </section>
      
      <section>
          <h5>Otra sección</h5>
      </section>


    </main>

    <footer>
      El pie de pagina
    </footer>
    
  </body>
</html>
