<header>
    <div class="menu-header">
        <div class="logo"><a href="/">Logo</a></div>
        <div class="menu-user">
            
            <a class="menu-user-item" href="/products">Productos</a>
            <a class="menu-user-item" href="/login">Login</a>
            <a class="menu-user-item" href="/register">Registro</a>
            
        </div>
    </div>
</header>